@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
.home-page-container{
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
}

.home-page-container  .display-change{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.home-page-container .display-change i{
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;   
    font-size: 22px;
    color: #CCCCCC;
    cursor: pointer;
}
.home-page-container .display-change .add-gist-btn{
    margin-right: 950px;
}
.home-page-container .display-change i.fa-circle-plus{
    font-size: 25px;
    color: #5acba1;
    transition: all 0.3s; 
}
.home-page-container .display-change i.fa-circle-plus:hover{
    font-size: 27px;
}
.home-page-container .display-change i.clicked {
    color: #5acba1;
}
.home-page-container .display-change p{
    font-size: 30px;
    font-weight:lighter;
    color: #CCCCCC;
}

