@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
.home-page-grid-container {
    display: flex;
    justify-content: center;   
    flex-direction: column;
    height: fit-content;
    width: 73.6%;
    margin-left: 15%;
    margin-right: 15%;
}
.home-page-grid-container .fa-circle-plus{
    font-size: 50px;
    color: #5acba1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.home-page-grid-container .fa-circle-plus:hover{
    font-size: 55px;
}

.home-page-grid-container .container .row div .card{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 21rem;
    border-radius: 10px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.29) 0px 3px 8px;
    transition: all 0.3s;
    cursor: pointer;
}

.home-page-grid-container .container .row div .card .card-text{
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #CCCCCC;
    height: 550px;
    width: 250px;
    margin-left:10px;
    margin-right: 10px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-page-grid-container .container .row .col-sm {
    margin-top: 20px;
}
.home-page-grid-container .container .row div .card .grid-user{
    display: flex;
    flex-direction: row;
}
.home-page-grid-container .container .row div .card .grid-user img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    align-self: center;
}
.home-page-grid-container .container .row div .card .grid-user .card-body{
    color: #CCCCCC;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    font-size: .8rem;
}
.home-page-grid-container .container .row div .card .grid-user .card-body h5{
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #1D80FF;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
}
.home-page-grid-container .container .row div .card .grid-user .card-body h5 span{
    font-weight: bold;
    
}
.home-page-grid-container .container .row div .card .grid-user .card-body p{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
.home-page-grid-container .container .row div .card .grid-user .card-body p.card-source{
    font-size: 8px;
}
.home-page-grid-container .container .row div .card:hover{
    background-color: #5acba1;
    color: #fff;
}
.home-page-grid-container .container .row div .card .grid-user .card-body:hover{
    color: #fff;
}